<p>
  I have been constantly trying to answer this question. I don’t know who I am anymore. The more days pass, the more
  different I feel. I don’t recognize myself. I feel locked up in a cage and thrown away in some lonely island. I don’t
  have anyone to talk to. Nobody knows me anymore. I am alive. I breath. I know I exist. But I am not me. I feel like
  someone has stolen me and the real me is left to die. Death would be a mercy; I feel at times. I think I am not
  suicidal though. Because, I know what suicidal feels like. It’s not like that this time. I am not looking to end my
  life. But I don’t want to live either.
</p>

<p>
  Until yesterday, I had not really spoken to anyone about this. I don’t know why. I know I should ask for help. This
  is real and I want to be free of this trap. But asking for help seemed too much. It means, letting people in my life
  again. That scares me. T wanted to help me. I read her blogposts and at some point, she felt the same way I am feeling
  now. She fought her way through it, and she wanted to help me. I opened up to her. Not completely. But she knows I am
  having troubles. I cannot tell her everything either. Because I feel guilty all the time and I feel that what I share
  might just make her not be my friend.
</p>

<p>
  Because I am not sleeping at all, I was concerned for my health. I have been averaging about 3 hours of sleep since
  the beginning of the month. Last night I could not sleep at all. I was awake the entire night. Not one blink of sleep.
  And I keep having conversations in my head about a lot of things. Things that don’t even matter anymore. Things that
  are not worth losing sleep over. Thinking about people. Thinking about the past. Thinking about how I lost it all. I
  had everything and I had to be stubborn and loose it all. Why did I do that? Now, I have nothing. I have more money
  than before. But I am poorer than ever. I have lost a lot of things. Maybe it’s better that way. All the people who
  cared for me, loved me, deserved a better person to care for and love. I was not the person deserving all that. So,
  maybe isolating myself did have some positives to it. Those people are free from me. They should be free from me.
</p>

<p>
  T had sleep issues too. Her blog post about it was so connectable. I know what she had been through when she wrote
  that post. I am going through that myself. I cry in the night too because I cannot sleep. I get frustrated. I want to
  break something. I want to break something so bad that it hurts me physically. Because then, it might not hurt me
  mentally. But then again, I don’t want anyone to know about this – about me. So, I just scream inside my pillow.
</p>

<p>
  I have taken up writing again. I have written a few poems. I like writing poems. It reminds me of who I was. Reminds
  me of who I am not anymore – in a good way. I don’t know. It feels good. Also, it reminds me of A. Reminds how much
  she liked my poetry. Especially mine. I hope she is ok. Hope she is not as troubled as I am. Hope she is healed. I
  want her to be happy. She was served less than what she deserved. I feel guilty for that all the time. I cannot
  forgive myself. I don’t want to forgive myself. Because I would have not forgiven if someone did to me what I did to
  her.
</p>

<p>
  I hope I heal soon. I want to be happy. I feel like I don’t deserve happiness. But I know that’s wrong. I deserve to
  be happy too. But I don’t know how to get there.
</p>
