li {
  background-color: #efebe9;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  font-size: larger;
}

h3 {
  font-family: 'Cabin Sketch', cursive;
  font-size: xx-large;
  text-align: center;
}
